<header>
  <div class="container-fluid bg-info text-center" style="height: 50px">
    <div class="row">
      <div class="col-sm-10">
        <h4 style="padding-top: 8px">Student Management system</h4>
      </div>
    </div>
    <div>
    </div>
  </div>
</header>
<br>
<div class="container">
  <h3>Student Login</h3>
  <div class="teachLog">
    <form method="POST" class="teachForm">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Roll no : </label>
        <input type="number" name="roll" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date of Birth : </label>
        <input type="date" name="dob" class="form-control" id="exampleInputPassword1">
      </div>
      <a><button type="submit" class="btn btn-primary">Submit</button></a>
    </form>
  </div>
</div>