<header>
  <div class="container-fluid bg-info text-center" style="height: 50px">
    <div class="row">
      <div class="col-sm-12">
        <h4 style="padding-top: 8px">Student Management system</h4>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
      <div style="margin-top: 100px"></div>
      <div style="padding-left: 120px; padding-bottom: 60px">Login as</div>
      <div>
        <a href="/teacher/login"><button type="button" class="btn btn-primary">Teacher</button></a>
        <a href="/student/login">
          <button style="margin-left: 150px" type="button" class="btn btn-primary">
            Student
          </button>
        </a>
      </div>
    </div>
  </div>