<header>
  <div class="container-fluid bg-info text-center" style="height: 50px">
    <div class="row">
      <div class="col-sm-10">
        <h4 style="padding-top: 8px">Student Management system</h4>
      </div>
    </div>
    <div>
    </div>
  </div>
</header>
<div class="container">
<bold><h4 style="color:red"><%= error%></h4></bold>
<a href="/" class="btn btn-info" style="margin-top:5px;">Back</a>
<br>
<br>
<h3>Teacher Login</h3>
<div class="teachLog" style="width:500px">
  <form method="POST" class="teachForm">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password : </label>
      <input type="password" name="password" class="form-control" id="pass">
      <br>
    </div>
    <a><button type="submit" class="btn btn-primary">Submit</button></a>
  </form>
</div>

</div>